    #project {
       .active3{
           border: 1px solid #C64b2b;
       }

        .el-dialog__header {
            display: none;
        }
        .container {
            width: 100%;
            min-width: 1200px!important;
            display: flex;
            justify-content: flex-start;
            flex-flow: row wrap;
            .mini-image {
                cursor: pointer;
                overflow: hidden;
                opacity: 1;
                &:hover {
                    opacity: .8;
                    transition: all 2s;
                }
            }
            .image-slot {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 56px;
                background: #DCDFE6;
            }
            @media screen and (max-width: 1500px) {
                .item-project {
                    width: 25%;
                    display: flex;
                    justify-content: center;
                }
            }
            @media screen and (min-width: 1500px) {
                .item-project {
                    width: 20%;
                    display: flex;
                    justify-content: center;
                }
            }
            .el-card {
                position: relative;
                margin: 0 5px 30px 5px;
                width: 300px;
                .el-card__header {
                    padding: 0px !important;
                }
                .box-card-header {
                    position: relative;
                    height: 162px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        transition: all 0.2s linear;
                        &:hover {
                            transform: scale(1.1, 1.1);
                            filter: contrast(130%);
                        }
                    }
                }
                .dropdow {
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    z-index: 3;
                }
                p {
                    font-size: 12px;
                    color: #909399;
                    margin: 10px 0 5px;
                    &.subtitle {
                        margin: 30px 0 5px;
                    }
                }
                .color {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    position: absolute;
                    z-index: 2;
                    right: 15px;
                    top: 140px;
                }
            }
        }
    }