// cover some element-ui styles
.el-breadcrumb__inner,
.el-breadcrumb__inner a {
    font-weight: 400 !important;
}

.el-upload {
    input[type="file"] {
        display: none !important;
    }
}

.el-form-item__label {
    font-size: 14px;
    font-weight: 500;
}

.el-upload-dragger .el-upload__text {
    font-size: 12px;
}

//图片展示的背景
.el-image-viewer__mask {
    opacity: .8;
}

.el-image-viewer__btn.el-image-viewer__close {
    color: rgba(225, 225, 225, .8);
}

//table中点击后的样式
.el-table__body tr.current-row>td {
    background-color: #cfd8dc!important;
}

.el-upload__input {
    display: none;
}

.cell {
    .el-tag {
        margin-right: 0px;
    }
}

.small-padding {
    .cell {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.fixed-width {
    .el-button--mini {
        padding: 7px 10px;
        width: 60px;
    }
}

.status-col {
    .cell {
        padding: 0 10px;
        text-align: center;
        .el-tag {
            margin-right: 0px;
        }
    }
}

.el-table th.gutter {
    display: table-cell!important;
}

// to fixed https://github.com/ElemeFE/element/issues/2461

/* .el-dialog {
    transform: none;
    left: 0;
    position: relative;
    margin: 0 auto;
} */

// refine element ui upload
.upload-container {
    .el-upload {
        width: 100%;
        .el-upload-dragger {
            width: 100%;
            height: 200px;
        }
    }
}

// dropdown

/* .el-dropdown-menu {
    a {
        display: block
    }
} */