#forgot {
  .p {
    width: 520.833upx;
    color: #c8c8c8;
    margin: 0 auto 31.25upx;
		 text-align: center;
  }

  .h3 {
    text-align: center;
    font-size: 37.5upx;
    height:97.916upx;
    line-height: 97.916upx;
  }

  button.conmmt-btn {
    display: block;
    width:  520.833upx;
    height: 85.416upx;
    border-radius: 85.416upx;
    margin: 0 auto;
    background-color: #fad87b;
    margin-top: 58.333upx;
    font-size: 31.25upx;
  }
  .common-inp {
		height: 89.583upx;
		line-height: 89.583upx;
    width:  520.833upx;
		display: block;
		margin: 0 auto;
  }

  .logo {
    margin: 31.25upx auto 31.25upx;
    text-align: center;

    image {
      height: 195.833upx;
      width:195.833upx;
      border-radius: 50%;
      background-color: #d8d8d8;
      border: 1px solid #c8c8cc;
    }
  }
}
